.CardButtonContainer {
    padding: 0rem !important;
}

.CardRolOption {
    min-width: 275;
    border-radius: 10px;
    padding-bottom: 2rem;
}

.CardRolOptionContent {
    display: flex;
    align-content: center;
    border-radius: 10px;
    border-right: ridge;
    border-bottom: ridge;
    padding: 10px !important;
}

.iconRolOption {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.textRolOption {
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
}